.warning, .warning button {
    color: darkgoldenrod;
    background: lightyellow;
    border-color: darkgoldenrod;
}
.success, .success button {
    color: green;
    border-color: green;
    background: lightgreen;
}
.primary, .primary button {
    color: blue;
    background: lightblue;
    border-color: blue;
}
.danger, .danger button {
    color: red;
    background: lightpink;
    border-color: red;
}

.Alert {
    padding: 20px 30px;
    margin: 20px auto;
    width: 400px;
}
.Alert-Button {
    position: absolute;
    right: 20px;
    padding: 5px 10px;
    background: none;
    border: 1px solid;
    border-radius: 4px;
}