.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.2);
    color: white;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}
.modal-title {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0;
}